---
import Layout from '../layouts/Base.astro';
---

<Layout title="Tech and Coffee">
	<main>
		<h1 class="text-5xl mb-10 text-center">
			Tech and Coffee
		</h1>
		<blockquote class="mb-10">
			Bouncing ideas off the wall since 2011
		</blockquote>
		<section>
			<h2 class="text-3xl mb-10 text-center">Social links</h2>
		</section>
	</main>
</Layout>
