body {
  @apply dark:bg-neutral-800;
  @apply dark:text-white;
}

main {
  @apply max-w-prose;
  @apply mx-auto;
}

hr {
  @apply border-dashed;
  @apply dark:border-white;
  @apply my-6;
}

article {
   @apply font-serif;
 }

 article > h1 {
  @apply text-4xl;
  @apply font-semibold;
  @apply mb-10;
  @apply text-center;
 }
 
 article > h2 {
   @apply text-2xl;
   @apply font-semibold;
   @apply mb-3;
 }
 
 article > p {
   @apply py-2;
   @apply mt-0.5;
   @apply my-4;
   @apply text-lg;
 }
 
 article > pre {
   @apply p-4;
   @apply my-2;
 }
 
 article a {
   @apply text-blue-700;
   @apply hover:text-blue-900;
   @apply visited:text-purple-800;
   @apply dark:text-blue-300;
   @apply dark:hover:text-blue-500;
   @apply dark:visited:text-purple-500;
 }
 
 article h3 {
   @apply font-semibold;
   @apply text-lg;
 }
 
 article table {
   @apply table-auto;
 }
 
 article td {
   @apply px-2 py-1;
 }

blockquote {
  @apply p-4;
  @apply italic;
  @apply border-l-4;
  @apply bg-neutral-100;
  @apply dark:bg-neutral-700;
  @apply text-neutral-600;
  @apply dark:text-neutral-200;
  @apply border-blue-700;
  @apply dark:border-blue-500;
  @apply mb-2;
}

article > ul {
  @apply list-disc;
  @apply list-inside;
  @apply ml-4;
  @apply text-lg;
}

article > ol {
  @apply list-decimal;
  @apply list-inside;
  @apply ml-4;
  @apply text-lg;
}

article li {
  @apply mb-3;
}

article li::marker {
  @apply font-bold;
  @apply text-blue-500;
  @apply dark:text-blue-300;
}
