<aside
   class="rounded-lg dark:bg-gray-800 dark:border-gray-700 my-5 border shadow-md"
>
   <div
      class="not-prose inline-flex items-center p-2 font-bold bg-blue-700 rounded-t-lg w-full"
   >
      <span class="px-3 py-2 text-white">
         <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
         >
            <path
               fill-rule="evenodd"
               d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z"
               clip-rule="evenodd"></path>
         </svg>
      </span>
      <h2 class="text-2xl text-white">Thanks</h2>
   </div>
   <div class="p-2 mx-2">
      <slot />
   </div>
</aside>
