---
export interface Props {
	title: string;
	href: string;
   description: string;
   inverted: boolean;
   download_url: string;
}

const { href, title, description, inverted, download_url } = Astro.props as Props;
---

<a href={download_url} class:list={['w-full', 'rounded', 'flex', 'justify-center', `${inverted ? 'bg-black' : 'bg-white'}`]}>
   <img class="aspect-auto max-w-full max-h-full h-48" src={href} alt={description} title={title} />
</a>
