---
export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
		<link
			rel="apple-touch-icon"
			sizes="114x114"
			href="/apple-icon-114x114.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="120x120"
			href="/apple-icon-120x120.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="144x144"
			href="/apple-icon-144x144.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="152x152"
			href="/apple-icon-152x152.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-icon-180x180.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="192x192"
			href="/android-icon-192x192.png"
		/>
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"
		/>
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png"
		/>
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"
		/>
		<link rel="manifest" href="/manifest.json" />
		<meta name="msapplication-TileColor" content="#ffffff" />
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
		<meta name="theme-color" content="#ffffff" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="dark:bg-neutral-800 dark:text-white">
		<div
			class="min-h-screen bg-white-900 w-full sm:w-3/5 xl:w-4/5 max-w-screen-lg mx-auto px-5 pb-0 sm:pb-5"
		>
			<header class="text-center py-10 mb-2.5 text-sm font-semibold">
				<nav
					class="flex flex-col md:flex-row items-center border-b border-blue-700 mb-5 pb-2.5 text-xs md:text-lg"
				>
					<ul class="flex gap-3 md:gap-5 flex-1 items-center">
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/graphics">Graphics</a></li>
						<li><a href="/hangouts">Hangouts</a></li>
						<li><a href="/podcasts">Podcasts</a></li>
						<li><a href="/rules">Rules</a></li>
					</ul>
				</nav>
			</header>
			<slot />
		</div>
	</body>
</html>
