---
import Layout from '../layouts/Base.astro';
import Card from '../components/Card.astro';
import hangoutsList from '../data/hangouts.json';
const hangouts = hangoutsList;
---

<Layout title="Tech and Coffee hangouts">
	<main>
		<article class="prose dark:prose-invert lg:prose-xl prose-h1:text-center prose-h2:text-center prose-a:text-blue-700 hover:prose-a:text-blue-900 visited:prose-a:text-purple-800 dark:prose-a:text-blue-300 dark:hover:prose-a:text-blue-500 dark:visited:prose-a:text-purple-500 prose-blockquote:border-blue-700 dark:prose-blockquote:border-blue-500 ml-auto mr-auto">
			<h1>Tech and Coffee hangouts</h1>
			<slot />
		</article>
		<hr class="border-dashed dark:border-white my-10">
		<section class="prose dark:prose-invert lg:prose-xl prose-h2:text-center max-w-full items-center">
			<h2>Hangouts list</h2>
			<div class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full justify-items-center">
				{hangouts.hangouts.map((option) => (
					<Card
						href={option.link}
						title={option.name}
						body={option.body}
						image={option.image}
					/>
				))}
			</div>
		</section>
	</main>
</Layout>